* {
    /* outline: 1px solid tomato; */
}

.header {
    border-bottom: 1px solid #ddd;
}

.mbtn {
    display: none;
}

.header .inner {
    display: flex;
    justify-content: space-between;

    align-items: center;

    height: 80px;
}

.header .gnb {}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul a {
    white-space: nowrap;
}

@media (max-width:768px) {
    .header {
        border-bottom: 1px solid #ddd;
        /* r */
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        background: #fff;
    }

    .mbtn {
        z-index: 1000;
        display: block;
        position: fixed;
        top: 25px;
        right: 30px;
        border: none;
        background: transparent;
    }

    .mbtn i {
        padding: 4px;
        font-size: 22px;
        background: #ddd;
    }

    /* r */
    .header h1 {
        position: fixed;
        left: 32px;
        z-index: 1001;
    }

    .header .inner {
        display: flex;
        justify-content: space-between;

        align-items: center;

        height: 80px;
    }

    .header .gnb {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        width: calc(100% - 90px);
        height: 100vh;

        padding: 120px 32px;
        border-right: 1px solid #ddd;

        transition: 0.5s;
    }

    .header .gnb.on {
        left: 0%;
    }


    .header .gnb>ul {
        display: flex;
        gap: 0;

        /* r */
        flex-direction: column;
    }

    .header .gnb>ul a {
        white-space: nowrap;

        /* r */
        display: block;
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }
}














.main_visual .main_slide {
    position: relative;
}

.main_visual .main_slide .itm {
    position: relative;
    height: 640px;
}

.main_visual .main_slide .itm .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1170px;
    width: 100%;
}

.main_visual .main_slide .itm .slg strong {
    display: block;
    margin: 0 0 16px 0;

    font-size: 48px;
    font-weight: 800;

    text-indent: -4px;
    text-shadow: 0 0 4px #fff;
    color: #333;
}

.main_visual .main_slide .itm:not(.itm02) .slg strong {
    text-shadow: 0 0 4px #333;
    color: #fff;
}

.main_visual .main_slide .itm .slg p {
    font-size: 16px;
    font-weight: 400;

    text-shadow: 0 0 4px #fff;
    color: #333;
}

.main_visual .main_slide .itm:not(.itm02) .slg p {
    text-shadow: 0 0 4px #333;
    color: #fff;
}


.main_visual .main_slide .itm01 {
    background: url(../images/mainvisual01.jpg) center center/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/mainvisual02.jpg) center center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/mainvisual03.jpg) center center/cover;
}

.main_visual .main_slide .slick-arrow {
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 0;
    border: none;
    background: transparent;

    width: 80px;
    height: 80px;

    border-top: 1px solid #ddd;
    border-left: 1px solid#ddd;

}

.main_visual .main_slide .slick-prev {
    left: 100px;

    transform: translate(0, -50%)rotate(-45deg);
}

.main_visual .main_slide .slick-next {
    right: 100px;

    transform: translate(0, -50%)rotate(135deg);
}

.main_visual .main_slide .slick-dots {
    display: flex;

    position: absolute;
    bottom: 80px;
    left: 50%;

    transform: translate(-50%, 0);
}

.main_visual .main_slide .slick-dots button {
    border: none;
    margin: 0 4px;
    width: 20px;
    height: 20px;
    font-size: 12px;

    color: #fff;
    background: #333;

    border-radius: 50%;
}

.main_visual .main_slide .slick-dots li.slick-active button {
    color: #333;
    background: #fff;
}

@media (max-width:768px) {
    .main_visual .main_slide {
        position: relative;
    }

    .main_visual .main_slide .itm {
        position: relative;
        height: 640px;
    }

    .main_visual .main_slide .itm .slg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        max-width: 1170px;
        width: 100%;

        /* r */
        padding: 0 32px;
    }

    .main_visual .main_slide .itm .slg strong {
        display: block;
        margin: 0 0 16px 0;

        font-size: 48px;
        font-weight: 800;

        text-indent: -4px;
        text-shadow: 0 0 4px #fff;
        color: #333;
    }

    .main_visual .main_slide .itm:not(.itm02) .slg strong {
        text-shadow: 0 0 4px #333;
        color: #fff;
    }

    .main_visual .main_slide .itm .slg p {
        font-size: 16px;
        font-weight: 400;

        text-shadow: 0 0 4px #fff;
        color: #333;
    }

    .main_visual .main_slide .itm:not(.itm02) .slg p {
        text-shadow: 0 0 4px #333;
        color: #fff;
    }


    .main_visual .main_slide .itm01 {
        background: url(../images/mainvisual01.jpg) right center/cover;
    }

    .main_visual .main_slide .itm02 {
        background: url(../images/mainvisual02.jpg) center center/cover;
    }

    .main_visual .main_slide .itm03 {
        background: url(../images/mainvisual03.jpg) left center/cover;
    }

    .main_visual .main_slide .slick-arrow {
        z-index: 999;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        font-size: 0;
        border: none;
        background: transparent;

        width: 80px;
        height: 80px;

        border-top: 1px solid #ddd;
        border-left: 1px solid#ddd;

        /* r */
        visibility: hidden;
    }

    .main_visual .main_slide .slick-prev {
        left: 100px;

        transform: translate(0, -50%)rotate(-45deg);
    }

    .main_visual .main_slide .slick-next {
        right: 100px;

        transform: translate(0, -50%)rotate(135deg);
    }

    .main_visual .main_slide .slick-dots {
        display: flex;

        position: absolute;
        bottom: 80px;
        left: 50%;

        transform: translate(-50%, 0);
    }

    .main_visual .main_slide .slick-dots button {
        border: none;
        margin: 0 4px;
        width: 20px;
        height: 20px;
        font-size: 12px;

        color: #fff;
        background: #333;

        border-radius: 50%;
    }

    .main_visual .main_slide .slick-dots li.slick-active button {
        color: #333;
        background: #fff;
    }
}














.main_content {}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner .itm {
    flex: 1;
}

.main_content .inner .itm figure {
    margin: 0 0 16px 0;
}

.main_content .inner .itm strong {
    display: block;
    margin: 0 0 16px 0;

    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.main_content .inner .itm .ord {
    text-align: center;
}

.main_content .inner .itm .ord a {
    display: inline-block;

    padding: 8px 24px;
    border-radius: 4px;
    color: #fff;
    background: #333;
}





@media (max-width:768px) {
    .main_content {
        padding: 80px 16px;
    }

    .main_content .inner {
        display: flex;
        gap: 30px;

        /* r */
        flex-direction: column;
    }

    .main_content .inner .itm {
        flex: 1;
    }

    .main_content .inner .itm figure {
        margin: 0 0 16px 0;
    }

    .main_content .inner .itm strong {
        display: block;
        margin: 0 0 16px 0;

        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    .main_content .inner .itm .ord {
        text-align: center;
    }

    .main_content .inner .itm .ord a {
        display: inline-block;

        padding: 8px 24px;
        border-radius: 4px;
        color: #fff;
        background: #333;
    }
}





.footer {
    padding: 40px 0;
    background: #333;
}

.footer address {
    font-style: normal;
    color: #fff;
    text-align: center;
}